[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mendeleev = "*"
pytest = "*"
sciencii = {editable = true, path = "."}

[requires]
python_version = "3"

[dev-packages]
pytest = "*"
build = "*"
twine = "*"
